#SignupContainer {
  width: 30vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  border-radius: 10px;
}

#SignupContainer form {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.input-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left; /* đảm bảo chắc chắn */
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #fff;
  border-radius: 5px;
  box-sizing: border-box; /* tránh input bị tràn ra ngoài do padding */
}