* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

#home {
    display: flex;
    flex-direction: row;
    height: 100vh; 
} 
.ButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
}